<header tuiNavigationHeader>
  <strong>{{ globalService.headerTitle() }}</strong>
  <hr/>
  <tui-textfield>
    <input
      tuiSearchHotkey
      [formControl]="control"
      [tuiInputSearch]="search"
      ngSkipHydration
    />
    <ng-template #search>
      <tui-search-results [results]="results$ | async">
        <tui-search-history [popular]="globalService.searchPopular()"/>
        <ng-template let-item>
          <a
            tuiCell
            [href]="item.href"
          >
            <tui-avatar [src]="item.icon || '@tui.file'"/>
            <span tuiTitle>
              {{ item.title }}
              <span tuiSubtitle>{{ item.subtitle }}</span>
            </span>
          </a>
        </ng-template>
      </tui-search-results>
    </ng-template>
  </tui-textfield>
  {{ globalService.user().name }}
  <tui-avatar [src]="globalService.user().picture"/>
</header>
